# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Local Databases (Ephememeral dev databases should not be tracked in VCS)
db.sqlite3

# IDE / Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment variables
.env
.env.*

# Logs
*.log
